/* fonts imported */
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Bangers&family=Montserrat+Subrayada:wght@400;700&family=Montserrat:wght@100;300;400;600&family=Permanent+Marker&family=Righteous&family=Rubik+Moonrocks&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Architects Daughter', cursive;
  background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/68297f1f-4e8a-45de-9159-fbfe9a49347b/d8zirnt-adb57ac3-f42f-41fa-930c-21bbe6cb7755.jpg/v1/fill/w_1192,h_670,q_70,strp/welcome_to_the_jungle_kopie_by_micha40_d8zirnt-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTY4OCIsInBhdGgiOiJcL2ZcLzY4Mjk3ZjFmLTRlOGEtNDVkZS05MTU5LWZiZmU5YTQ5MzQ3YlwvZDh6aXJudC1hZGI1N2FjMy1mNDJmLTQxZmEtOTMwYy0yMWJiZTZjYjc3NTUuanBnIiwid2lkdGgiOiI8PTMwMDAifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.izqLBK3z4cLx9pTR6oMEVD-TTeY9JlDoPHKcQaGkjbQ");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  /* padding-bottom: 100px; */
}

/* the container around each instance on the timeline */
.timeline {
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  /* border: red 5px solid; */
}

/* each box of the timeline*/
.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background: #0e5573;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
  /* border: rgb(208, 255, 0) 5px solid; */
}

/* box around the card, right of the timeline */
.container {
  padding: 0px 30px;
  position: relative;
  background: inherit;
  width: 50%;
  /* border: rgb(255, 0, 212) 50px solid; */
}

.container.left {
  left: 0;
  /* border: rgb(60, 0, 255) 5px solid; */
}

.container.right {
  left: 50%;
  /* border: pink 5px solid; */
}

/* the white circle on the timeline for each card - left cards */
.container::after {
  content: '';
  color: white;
  position: absolute;
  width: 20px;
  height: 20px;
  top: calc(50% - 11px);
  right: -11px;
  background: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 16px;
  z-index: 1;
  visibility: hidden;
}

/* the white circle on the timeline for each card - right cards - see block above for details */
.container.right::after {
  left: -9px;
}

/* white line between dot on timeline to circle on card - left card */
.container::before {
  content: '';
  position: absolute;
  width: 40px;
  height: 2px;
  top: calc(50% - 1px);
  right: 8px;
  background: #ffffff;
  z-index: 1;
}

/* white line between dot on timeline to circle on card - right cards - see block above for details */
.container.right::before {
  left: 8px;
}

/* period name eg Triassic */
.container .date {
  position: absolute;
  display: inline-block;
  top: calc(50% - 12px);
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 1px;
  z-index: 1;
  transform-origin: 16 0;
  padding: 0px 10px 0px 10px;
  border-radius: 16px;
  /* background-color: #0e5573; */
  /* border: #F6D155 2px solid;  */
} 

.Triassic::after {
  background-color: #0e5573;
}

/* period name only eg Triassic */
.Triassic .container .date {
  background-color: #0e5573;
  /* border: #F6D155 2px solid;  */
}

.Jurassic::after {
  background-color: #0e7369;
}

/* period name only eg Jurassic */
.Jurassic .container .date {
  background-color: #0e7369;
}

.Cretaceous::after {
  background-color: #12793f;
}

.Cretaceous .container .date {
  background-color: #12793f;
}

.container.left .date  {
  transform: rotate(90deg) ;
  right: -91px;
  text-shadow: 2px -2px 3px #000000;
  /* border: red 3px solid; */
}

.container.right .date {
  transform: rotate(-90deg) ;
  text-shadow: 2px 2px 3px #000000;
  /* border: #F6D155 3px solid;  */
}

.Triassic .container.left .date {
  right: -70px;
}

.Triassic .container.right .date {
  left: -69px;
}

.Jurassic .container.left .date  {
  right: -74px;
}

.Jurassic .container.right .date  {
  left: -73px;
}

.Cretaceous .container.left .date  {
  right: -99px;
}

.Cretaceous .container.right .date  {
  left: -98px;
}

/* bigger white circle on the card */
.container .icon {
  position: absolute;
  display: inline-block;
  width: 40px;
  height: 40px;
  padding: 9px 0;
  top: calc(50% - 20px);
  border: 2px solid #ffffff;
  border-radius: 40px;
  text-align: center;
  font-size: 18px;
  z-index: 1;
}
/* bigger white circle on the card - position in relation to the line */
.container.left .icon {
  right: 46px;
}
/* bigger white circle on the card - position in relation to the line */
.container.right .icon {
  left: 47px;
}

/* the card colour and background - left */
.container.left .content {
  position: relative;
  padding: 20px 0px 10px 110px;
  border-radius: 0px 50px 30px 50px;
  box-shadow: 2px 2px 5px #000000;
  /* border: rgb(9, 227, 17) 2px solid; */
}

/* the card colour and background - left Triassic */
.Triassic .container.left .content {
  background-image: linear-gradient( #0e5573, #073346);
}

/* the card colour and background - left Jurassic */
.Jurassic .container.left .content {
  background-image: linear-gradient( #0e7369, #074a43);
}

/* the card colour and background - left Cretaceous */
.Cretaceous .container.left .content {
  background-image: linear-gradient( #12793f,  #0b5029);
}

/* the card colour and background - right */
.container.right .content {
  position: relative;
  padding: 20px 0px 10px 110px;
  border-radius: 50px 0px 50px 30px;
  box-shadow: 2px 2px 5px #000000;
}

/* the card colour and background - right Triassic */
.Triassic .container.right .content {
   background-image: linear-gradient( #0e5573, #073346);
}

/* the card colour and background - right Jurassic */
.Jurassic .container.right .content {
  background-image: linear-gradient( #0e7369, #074a43);
}

/* the card colour and background - right Cretaceous */
.Cretaceous .container.right .content {
  background-image: linear-gradient( #12793f,  #0b5029);
}

/* the card colour and background - right */
.container.right .content {
  background: #0e5573;
  position: relative;
  padding: 20px 0px 10px 110px;
  border-radius: 50px 0px 50px 30px;
  box-shadow: 2px 2px 5px #000000;
}

.container .content h2 {
  margin: auto;
  font-family: 'Bangers', cursive;
  text-shadow: 2px 2px 5px #000000;
  font-size: 50px;
  font-weight: bold;
  color: #ffffff;
}

.dino-image{
  border-radius: 0px 50px 30px 50px;
  border: #0e5573 8px solid;
  width: 300px;
  /* height: 150px; */
  object-fit: cover;
  box-shadow: 2px 2px 5px #000000;
}

.dino-image:hover{
  border: #f99407 8px solid;
  filter: blur(2px);
  filter: saturate(400%);
  box-shadow: 5px 5px 15px #000000;
  cursor: url("https://downloads.totallyfreecursors.com/cursor_files/dinosaurmale.cur"), url("https://downloads.totallyfreecursors.com/thumbnails/dinosaur-male.gif"), auto;
}

#styledimg {
  background-image: url(https://toppng.com/uploads/preview/5-point-stars-png-star-icon-flat-11562958768wpf63hu4tq.png);
  background-repeat: no-repeat;
  width: 500px;
  height: 500px;
  max-width: 100%;
  max-height: 100%;
  object-fit: fill;
}

.fav-button {
  background: transparent;
  border: none;
  font-size: 50px;
}

.star-class-on {
  color:yellow;
}

.star-class-off {
  color:#454a4d;
} 
