
    .ReactModal__Overlay {
        opacity: 0;
        transition: opacity 500ms ease-in-out;

    }
    
    .ReactModal__Overlay--after-open{
        opacity: 1;
    }
    
    .ReactModal__Overlay--before-close{
        opacity: 0;
        
    }
   
    .dino-modal-content {
        border: rgb(0, 255, 21) solid 10px;
        background-color:  greenyellow;
        position: absolute;
        top: 100px;
        left: 100px;
        right: 100px;
        height: 30%;
        width: 80%;
        min-height: 400px;
        min-width: 200px;
        border: 1px solid #ccc;
        overflow: auto;
        -webkit-overflow-scrolling: touch;
        border-radius: 4px;
        outline: none;
        padding: 20px;
        font-family: 'Courier New', Courier, monospace;
          }