/* fonts imported */
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Bangers&family=Montserrat+Subrayada:wght@400;700&family=Montserrat:wght@100;300;400;600&family=Permanent+Marker&family=Righteous&family=Rubik+Moonrocks&display=swap');


/* font-family: 'Architects Daughter', cursive;
font-family: 'Bangers', cursive;

font-family: 'Montserrat', sans-serif;
font-family: 'Montserrat Subrayada', sans-serif;
font-family: 'Permanent Marker', cursive;
font-family: 'Righteous', cursive;
font-family: 'Rubik Moonrocks', cursive; */


    .ReactModal__Overlay {
        opacity: 0;
        transition: opacity 1500ms ease-in-out;
        z-index: 1;
    }
    
    .ReactModal__Overlay--after-open{
        opacity: 1;
    }
    
    .ReactModal__Overlay--before-close{
        opacity: 0;
        transition:  opacity 1500ms ease-in;
        
    }
   
    .dino-modal-content {
        display: flex;
        flex-direction: column;
        background-image: url("https://www.wallpaperup.com/uploads/wallpapers/2013/01/19/30297/e677e440bb636b6f6d0b3e250e60e8f5.jpg");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        position: absolute;
        top: 150px;
        left: 25%;
        /* right: 50%; */
        height: 70%;
        width: 50%;
        min-height: auto;
        min-width: 200px;
        border: 3px solid #0e5573;
        overflow: auto;
        /* -webkit-overflow-scrolling: touch; */
        border-radius: 4px;
        outline: none;
        padding: 0px 100px;
          }


.dino-modal-image {
    /* position: absolute; */
    width: 80%;
    display: flex;
    justify-content:  center;
    border-radius: 0px 50px 30px 50px;
    border: #0e5573 8px solid;
    margin-left: 60px;
    
}
        
p {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    text-shadow: 2px 2px 3px #000000;
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: -1px;
}
.dino-modal-close-button {
    border: none;
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: white;
    border: solid;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap
}
.dino-modal-button {
    width: 80%;
    height: 70px;
    font-family: 'Montserrat', sans-serif;
    justify-content: center;
    background-color: #171c24;
    background-image: url('https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/240/twitter/322/sauropod_1f995.png');
    background-repeat: no-repeat;
    background-size: auto 70px;
    padding-left: 40px;
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: -1px;
    margin-left: 60px;
    border: 3px solid #0e5573;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    text-shadow: 2px 2px 3px #000000;
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: -1px;
}

.creator-div {
    height: 70%;
    /* width: 70%; */
    display: flex;
    flex-wrap: wrap;
}

.creator-profile {
    border: 3px solid #0e5573;
    height: 50%;
    width: 50%;
    background-color:  #171c24;;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;

    /* justify-content: center; */
    
}

.creator-name {
    font-size: large;
}

.creator-picture {
    height: 40%;
    width: 40%;

}

.creator-links {
    font-size: large;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
}




