/* fonts imported */
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Bangers&family=Montserrat+Subrayada:wght@400;700&family=Montserrat:wght@100;300;400;600&family=Permanent+Marker&family=Righteous&family=Rubik+Moonrocks&display=swap');

    .ReactModal__Overlay {
        opacity: 0;
        transition: opacity 1500ms ease-in-out;
        z-index: 1;
    }
    
    .ReactModal__Overlay--after-open{
        opacity: 1;
    }
    
    .ReactModal__Overlay--before-close{
        opacity: 0;
        transition:  opacity 1500ms ease-in;
        
    }
    
   
    .landing-modal-content {
        display: flex;
        flex-direction: column;
        background-image: url("https://www.wallpaperup.com/uploads/wallpapers/2013/01/19/30297/e677e440bb636b6f6d0b3e250e60e8f5.jpg");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        position: absolute;
        top: 150px;
        left: 25%;
        /* right: 50%; */
        height: 70%;
        width: 50%;
        min-height: auto;
        min-width: 200px;
        border: 3px solid #0e5573;
        overflow: auto;
        /* -webkit-overflow-scrolling: touch; */
        border-radius: 0px 50px 30px 50px;
        outline: none;
        box-shadow: 2px 2px 7px #000000;
          }

.landing-modal-div{
    display: flex;
    flex-direction: column;
    
    justify-content: center;
}

.landing-modal-image {
    position: relative;
    width: 40%;
    border-radius: 0px 50px 30px 50px;
    border: #0e5573 8px solid;
    margin-left: 30%;
    
}
        
.landing-h3 {
    font-size: 60px;
}

p {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    text-shadow: 2px 2px 3px #000000;
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: -1px;
}
.landing-modal-close-button {
    position: sticky;
    width:30px;
    height:30px;
    left: 94%;
    top: 15px;
    background-color: orange;
    font-size: large;
    font-family: 'Permanent Marker', cursive;
    color: #0e5573;
    border-radius: 0px 10px 5px 10px;
    border: #0e5573 2px solid;
    z-index: 1;
}
.landing-modal-button {
    width: 80%;
    height: 70px;
    font-family: 'Montserrat', sans-serif;
    justify-content: center;
    background-color: #171c24;
    background-image: url('https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/240/twitter/322/sauropod_1f995.png');
    background-repeat: no-repeat;
    background-size: 55px;
    background-position: 10px;
    padding-left: 40px;
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: -1px;
    margin-top: 30px;
    margin-left: 60px;
    border: 3px solid #0e5573;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    text-shadow: 2px 2px 3px #000000;
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: -1px;
}

h3.creator-title{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    text-shadow: 2px 2px 3px #000000;
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: -1px;
    margin: 0px;
}

.creators-container {
    margin: none;
}

.creator-div {
    margin: 10px;
    height: 70%;
    /* width: 70%; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 0px 10px 5px 10px;
}

.creator-profile {
    position: relative;
    display: flex;
    flex-direction: row;
    border-radius: 0px 10px 5px 10px;
    border: 3px solid #0e5573;
    height: 120px;
    width: 450px;
    min-width: 450px;
    background-color:  #171c24;
    align-items: center;
    padding: 10px;
    margin: 5px;
}


.creator-picture {
    border: 3px solid #0e5573;
    border-radius: 0px 10px 5px 10px;
    height: 80%;
    width: 20%;
}

.creator-ul {
    list-style: none; 
}
.creator-links {
    margin-top: -20px;
    margin-right: 40px;
    text-decoration: none;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    text-decoration-line: underline;
    
}

.creator-links:hover {
    color: red;
    margin-top: -20px;
    margin-right: 40px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

.creator-name {
    margin-top: -20px;  
    font-size: large;
    text-decoration: none;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
}

.creator-modal-button {
    width: 80%;
    height: 70px;
    font-family: 'Montserrat', sans-serif;
    justify-content: center;
    background-color: #171c24;
    background-image: url('https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/240/twitter/322/sauropod_1f995.png');
    background-repeat: no-repeat;
    background-size: 55px;
    background-position: 10px;
    padding-left: 40px;
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: -1px;
    margin-top: 10px;
    margin-bottom: 30px;
    /* margin-left: 60px; */
    border: 3px solid #0e5573;
}

h3.adlib-return-title{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    text-shadow: 2px 2px 3px #000000;
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: -1px;
    margin: 0px;
}

.adlib-return-div{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.adlib-return{
    margin: 30px;
}

.adlib-form-div{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

h3.adlib-form-title{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    text-shadow: 2px 2px 3px #000000;
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: -1px;
    margin-top: 10px;
}
.adlib-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-size: large;
    color: white;
}

.adlib-css {
    color: greenyellow;
    font-weight: lighter;
}

.adlib-atag:link {
    text-decoration: none;
    color: greenyellow;
}

.adlib-atag:hover {
    font-weight: bold;
    color: greenyellow;
}
.adlib-atag:visited {
    text-decoration: none;
    color: greenyellow;
}

.adlib-input {
    margin-top: 20px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    text-shadow: 2px 2px 3px #000000;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: -1px;
}

.adlib-input {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: row;

}
.adlib-input-box1 {
    font-family: 'Montserrat', sans-serif;
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    margin-bottom: 40px;
    font-size: xx-large;
}

.adlib-input-box {
    font-family: 'Montserrat', sans-serif;
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    font-size: xx-large;
}
.adlib-modal-button {
    width: 80%;
    height: 70px;
    font-family: 'Montserrat', sans-serif;
    justify-content: center;
    background-color: #171c24;
    background-image: url('https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/240/twitter/322/sauropod_1f995.png');
    background-repeat: no-repeat;
    background-size: 55px;
    background-position: 10px;
    padding-left: 40px;
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: -1px;
    margin-top: 10px;
    margin-bottom: 30px;
    /* margin-left: 60px; */
    border: 3px solid #0e5573;
}

.landing-modal-button1 {
    width: 80%;
    height: 70px;
    font-family: 'Montserrat', sans-serif;
    justify-content: center;
    background-color: #171c24;
    background-image: url('https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/240/twitter/322/sauropod_1f995.png');
    background-repeat: no-repeat;
    background-size: auto 70px;
    padding-left: 40px;
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: -1px;
    margin-top: 30px;
    border: 3px solid #0e5573;

    }
