
#navbar-container {
    display: flex;
  
    background-color: wheat;
    justify-content: space-between;
}

#logo {
    height: 100px;
    width: 100px;
}

#star {
    height: 100px;
    width: 100px;
}

#fav-button {
    height: 40px;
    width: 100px;
}

  /* .container {
    min-height: 100vh;
    padding: 0 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px;
  } */
  