#search-div
{
  position: relative;
}
#background-input
{
  position: absolute;
  color: #999999;
  height:25px;
  width:250px;
}
#search
{
  position: relative;
  background: transparent;
  height:25px;
  width:250px;
}
#go
{
  margin-left: 8px;
}
