/* fonts imported */
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Bangers&family=Montserrat+Subrayada:wght@400;700&family=Montserrat:wght@100;300;400;600&family=Permanent+Marker&family=Righteous&family=Rubik+Moonrocks&display=swap');


/* font-family: 'Architects Daughter', cursive;
font-family: 'Bangers', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Montserrat Subrayada', sans-serif;
font-family: 'Permanent Marker', cursive;
font-family: 'Righteous', cursive;
font-family: 'Rubik Moonrocks', cursive; */


    .ReactModal__Overlay {
        opacity: 0;
        transition: opacity 200ms ease-in-out;
        z-index: 1;
    }
    
    .ReactModal__Overlay--after-open{
        opacity: 1;
    }
    
    .ReactModal__Overlay--before-close{
        opacity: 0;
        
    }
   
            
.dino-modal-close-button {
    position: sticky;
    width:30px;
    height:30px;
    left: 94%;
    top: 15px;
    background-color: orange;
    font-size: large;
    font-family: 'Permanent Marker', cursive;
    color: #0e5573;
    border-radius: 0px 10px 5px 10px;
    border: #0e5573 2px solid;
    z-index: 1;
}

.dino-modal-content {
    display: flex;
    flex-direction: column;
    background-image: url('assets/Multi_Monitor_Dual_Screen_cg_digital_art_manip_ocean_sea_sky_planets_sci_fi_mood_clouds.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    position: fixed;
    top: 15%;
    left: 25%;
    
    height:800px;
    width: 50%;
    min-height: 75%;
    max-height: 75%;
    min-width: 860px;
    max-width: 860px;
    border: 3px solid #0e5573;
    overflow: auto;
    border-radius: 0px 50px 30px 50px;
    outline: none;
    box-shadow: 2px 2px 7px #000000;
}

.dino-modal-inner{
    width: 800px;
    min-width: 600px;
    height: 900px;
    /* padding: 20px 20px; */
    margin: 25px;
    /* background-image: linear-gradient( #0e5573, #073346); */
    background-color:#0e557379;
    border-radius: 0px 50px 30px 50px;
    
}




/* .dino-modal-image-div{ */
    /* position: relative; */
    /* margin: 0 auto;
    width: auto;
    height: 400px; */
/* } */

.dino-modal-image {
    /* position: relative; */
    /* width: 700px; */
    display: flex;
    margin: 0 auto;
    height: 400px;
    border-radius: 0px 50px 30px 50px;
    border: #0e5573 8px solid;
    box-shadow: 2px 2px 5px #000000;
    /* filter: saturate(250%); */
    /* margin: 0px 50px; */
    /* max-width: fit-content; */
}

.dino-modal-title-div{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.dino-modal-name {
    position: relative;
    margin: 2px;
    font-family: 'Bangers', cursive;
    color: #ffffff;
    font-size: 60px;
    text-align: center;
    text-shadow: 2px 2px 3px #000000;
}

.dino-modal-info-div{
    position: relative;
    /* width: 800px;
    min-width: 600px;
    height: 400px;
    padding: 20px 20px;
    margin: 25px;
    background-image: linear-gradient( #0e5573, #073346);
    border-radius: 0px 50px 30px 50px; */
}

.dino-modal-info {
    position: relative;
    display: flex;
    flex-direction: row;
    font-family: 'Architects Daughter', cursive;
    color: white;
    font-size: 30px;
    margin: 10px;
    /* width: 75%;
    height: 400px;
    padding: 20px 20px;

    background-image: linear-gradient( #0e5573, #073346);
    border-radius: 0px 50px 30px 50px; */
}

.dino-modal-map {
    
  height: 300px;
    margin: 10px;
    /* border: #0e5573 8px solid; */
    border-radius: 0px 50px 30px 50px;
    box-shadow: 2px 2px 5px #000000;  
}

.modal-fav-button {
    padding: none;
    background: transparent;
    border: none;
    font-size: 50px;
  }

