/* fonts imported */
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Bangers&family=Montserrat+Subrayada:wght@400;700&family=Montserrat:wght@100;300;400;600&family=Permanent+Marker&family=Righteous&family=Rubik+Moonrocks&display=swap');

.navbar{
  background-image: linear-gradient( #073346, #073346);
  position: sticky;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: max-content;
  padding: 8px 80px 8px 0px;
  top: 0;
  width: 100%;
  height: 10%;
  z-index: 2;
}

.navbar .logo-and-name{
  display: flex;
  margin-left: 5%;
  align-items: center;
}

/* dino logo little drawing */
#logo-pic{
  width: 70px;
  }


/* dinopedia text logo */
.logo-name a{
  list-style: none;
  font-family: 'Bangers', cursive;
  color: #fff;
  font-size: 60px;
  letter-spacing: 1px;
  font-weight: 700;
  text-shadow: 2px 2px 3px rgb(0, 0, 0);
  text-decoration: none;
  padding-left: 10px;
}

.logo-name a:hover{
  color: orange;
  cursor: url("https://downloads.totallyfreecursors.com/cursor_files/dinosaurmale.cur"), url("https://downloads.totallyfreecursors.com/thumbnails/dinosaur-male.gif"), auto;
}

#logo-pic:hover{
  animation: shake 0.5s;
  animation-iteration-count: infinite;
  cursor: url("https://downloads.totallyfreecursors.com/cursor_files/dinosaurmale.cur"), url("https://downloads.totallyfreecursors.com/thumbnails/dinosaur-male.gif"), auto;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.nav-items{
  display: flex;
}

.nav-items li{
  list-style: none;
  padding: 0 25px;
}

/* text links on page */
.nav-items a{
  font-family: 'Architects Daughter', cursive;
  color: #fff;
  font-size: 20px;
  word-spacing: -2px;
  font-weight: 700;
  text-decoration: none;
}
  
/* text links on page on hover*/
.nav-items a:hover{
  color: orange;
  cursor: url("https://downloads.totallyfreecursors.com/cursor_files/dinosaurmale.cur"), url("https://downloads.totallyfreecursors.com/thumbnails/dinosaur-male.gif"), auto;
}

/* .favourite-dino-link {
  padding-left: 20px;
} */
