#search-div {
  position: relative;
}

#background-input {
  position: absolute;
  color: #999999;
  font-family: 'Architects Daughter', cursive;
  height:30px;
  width:220px;
  font-size: large;
}

#search {
  position: relative;
  background: transparent;
  font-family: 'Architects Daughter', cursive;
  font-size: large;
  height:30px;
  width:220px;
}

#go{
  margin-left: 8px;
  height:30px;
}
